/* @file
 * This file is a custom file that loads all files. Each non-base layer
 * can be disabled.
 *
 * Do not name this file "STARTER.scss". This file should be named
 * THEMENAME.scss. If you used the drush command to generate this subtheme,
 * it should be named for you.
 *
 * This application file (THEMENAME.scss) is where all the partials are
 * imported.
 *
 * Theme styles are categorized using SMACSS standards. They utilize
 * categorization of styles into various categories. Those categories are the
 * following:
 *
 * - Base: CSS reset/normalize plus HTML element styling.
 * - Layout: Macro arrangement of a web page, including any grid systems.
 * - Modules: Dictate minor layout modules or reusable elements.
 * - States: Describe the appearance of a module in various states.
 * - Theme: Specific customizations for your subtheme.
 * For more information about this new Drupal css file standard, please review
 * the following:
 * - https://drupal.org/node/1887922
 * - http://smacss.com/
 */
/* line 60, ../scss/base/_elements.scss */
.btn, .views_slideshow_cycle_teaser_section .views_slideshow_cycle_slide .wrapper .container .carousel-caption p a {
  display: inline-block;
  border-radius: 15px;
  padding: 15px 20px;
  text-decoration: none;
  background-color: #951b8c;
  color: #fff;
  font-weight: bold;
}
/* line 68, ../scss/base/_elements.scss */
.btn:hover, .views_slideshow_cycle_teaser_section .views_slideshow_cycle_slide .wrapper .container .carousel-caption p a:hover {
  color: #333;
  text-decoration: none;
}

/* line 431, ../scss/foundation/components/_global.scss */
meta.foundation-version {
  font-family: "/5.5.3/";
}

/* line 435, ../scss/foundation/components/_global.scss */
meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0;
}

/* line 440, ../scss/foundation/components/_global.scss */
meta.foundation-mq-small-only {
  font-family: "/only screen and (max-width: 40em)/";
  width: 0;
}

/* line 445, ../scss/foundation/components/_global.scss */
meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.0625em)/";
  width: 40.0625em;
}

/* line 450, ../scss/foundation/components/_global.scss */
meta.foundation-mq-medium-only {
  font-family: "/only screen and (min-width:40.0625em) and (max-width:64em)/";
  width: 40.0625em;
}

/* line 455, ../scss/foundation/components/_global.scss */
meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.0625em)/";
  width: 64.0625em;
}

/* line 460, ../scss/foundation/components/_global.scss */
meta.foundation-mq-large-only {
  font-family: "/only screen and (min-width:64.0625em) and (max-width:90em)/";
  width: 64.0625em;
}

/* line 465, ../scss/foundation/components/_global.scss */
meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.0625em)/";
  width: 90.0625em;
}

/* line 470, ../scss/foundation/components/_global.scss */
meta.foundation-mq-xlarge-only {
  font-family: "/only screen and (min-width:90.0625em) and (max-width:120em)/";
  width: 90.0625em;
}

/* line 475, ../scss/foundation/components/_global.scss */
meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.0625em)/";
  width: 120.0625em;
}

/* line 480, ../scss/foundation/components/_global.scss */
meta.foundation-data-attribute-namespace {
  font-family: false;
}

/* line 1, ../scss/modules/_general.scss */
body {
  margin: 0px;
}
/* line 8, ../scss/modules/_general.scss */
body .main-content-wrapper {
  padding-top: 54px;
}

/* line 1, ../scss/modules/_topbar.scss */
.topbar {
  background-color: #222;
  border-bottom: 1px #951b8c;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
/* line 7, ../scss/modules/_topbar.scss */
.topbar .container {
  margin: 0 auto;
  max-width: 78.125rem;
  width: 100%;
}
/* line 239, ../scss/foundation/components/_global.scss */
.topbar .container:before, .topbar .container:after {
  content: " ";
  display: table;
}
/* line 240, ../scss/foundation/components/_global.scss */
.topbar .container:after {
  clear: both;
}
/* line 9, ../scss/modules/_topbar.scss */
.topbar .container .logo_wrapper {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 8.33333%;
  float: left;
}
/* line 11, ../scss/modules/_topbar.scss */
.topbar .container .logo_wrapper .logo {
  overflow: hidden;
}
/* line 13, ../scss/modules/_topbar.scss */
.topbar .container .logo_wrapper .logo img {
  width: 50px;
}
/* line 18, ../scss/modules/_topbar.scss */
.topbar .container .main-menu-nav {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 8.33333%;
  float: left;
  float: right;
  padding-right: 0;
}

/* line 3, ../scss/modules/_views.scss */
.views_slideshow_cycle_teaser_section .views_slideshow_cycle_slide .wrapper {
  position: relative;
}
/* line 5, ../scss/modules/_views.scss */
.views_slideshow_cycle_teaser_section .views_slideshow_cycle_slide .wrapper .container {
  margin: 0 auto;
  max-width: 78.125rem;
  width: 100%;
  position: absolute;
  bottom: 30%;
  z-index: 999;
}
/* line 239, ../scss/foundation/components/_global.scss */
.views_slideshow_cycle_teaser_section .views_slideshow_cycle_slide .wrapper .container:before, .views_slideshow_cycle_teaser_section .views_slideshow_cycle_slide .wrapper .container:after {
  content: " ";
  display: table;
}
/* line 240, ../scss/foundation/components/_global.scss */
.views_slideshow_cycle_teaser_section .views_slideshow_cycle_slide .wrapper .container:after {
  clear: both;
}
/* line 10, ../scss/modules/_views.scss */
.views_slideshow_cycle_teaser_section .views_slideshow_cycle_slide .wrapper .container .carousel-caption {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 66.66667%;
  float: left;
  margin-left: auto;
  margin-right: auto;
  float: none;
  text-align: center;
  color: #fff;
}
/* line 14, ../scss/modules/_views.scss */
.views_slideshow_cycle_teaser_section .views_slideshow_cycle_slide .wrapper .container .carousel-caption h1 {
  color: #fff;
  text-decoration: none;
}
/* line 18, ../scss/modules/_views.scss */
.views_slideshow_cycle_teaser_section .views_slideshow_cycle_slide .wrapper .container .carousel-caption p {
  line-height: 1.5em;
}
/* line 27, ../scss/modules/_views.scss */
.views_slideshow_cycle_teaser_section .views_slideshow_cycle_slide .wrapper img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
