.topbar {
  background-color: #222;
  border-bottom: 1px rgb(149, 27, 140);
  position: fixed;
  width: 100%;
  z-index: 1000;
  .container {
    @include grid-row;
    .logo_wrapper {
      @include grid-column(1);
      .logo {
        overflow: hidden;
        img {
          width: 50px;
        }
      }
    }
    .main-menu-nav {
      @include grid-column(1);
      float: right;
      padding-right: 0;
    }
  }
}
