.views_slideshow_cycle_teaser_section {
  .views_slideshow_cycle_slide {
    .wrapper {
      position: relative;
      .container {
        @include grid-row;
        position: absolute;
        bottom: 30%;
        z-index: 999;
        .carousel-caption {
          @include grid-column($columns:8, $center:true);
          text-align: center;
          color:#fff;
          h1 {
            color: #fff;
            text-decoration: none;
          }
          p {
            line-height: 1.5em;
            a {
              @extend .btn;
            }
          }
        }
      }

      img {
        width: 100%;
        max-width: 100%;
        height: auto;
      }
    }
  }
}

